/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.check-in-hostel.de/flashgallery/ceeec7c4-4da6-45f5-906e-1a3acc4fea58/75900c92-fa9d-43d9-a99e-b4447cd3c75e.jpg");
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
}

.hero {
  background-color: #FFF;
  color: #333;
  text-align: center;
  padding: 50px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 20px;
}

.cta-btn {
  background-color: #6e675c;
  color: #FFF;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
}

.cta-btn:hover {
  background-color: #FFF;
  color: #333;
}

section.how-it-works {
  padding: 50px;
  text-align: center;
}

section.how-it-works h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  background-color: #e9d5d53a;
  box-shadow: 0 2px 5px rgba(1, 0, 6, 0.1);
}

.step img {
  max-width: 200px;
  margin-bottom: 20px;
}

.step h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.step p {
  font-size: 18px;
  line-height: 1.5;
}

footer {
  background-color: #333;
  color: #000000;
  text-align: center;
  padding: 20px;
  background-position: center;
  background-image: url("https://www.check-in-hostel.de/flashgallery/ceeec7c4-4da6-45f5-906e-1a3acc4fea58/75900c92-fa9d-43d9-a99e-b4447cd3c75e.jpg");
  font-weight: bold;
}
